@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
  max-height: 100vh;
  text-decoration: none;
}

header .pure-menu,
footer .footer-content {
  max-width: 1200px;
  margin: auto;
}

header,
footer {
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  color: white;
  text-align: center;
  padding: 1em 0;
}

header nav ul li {
  display: flex;
  margin-right: 1rem;
}

header span {
  color: black;
  font-weight: 900;
}

.content {
  max-width: 1200px;
}

main {
  background: linear-gradient(
    to bottom right,
    #ff7e5f,
    #feb47b
  ); /* Gradiente de fundo */
  color: #fff; /* Cor do texto */
  padding: 20px; /* Espaçamento interno */
  min-height: 81.5vh; /* Altura mínima da tela toda */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: white;
  color: black;
  border-radius: 10px;
  padding: 40px;
}
.container-card {
    display: grid; /* Usa grid layout */
    grid-template-columns: repeat(3, 1fr); /* Cria 3 colunas de largura igual */
    gap: 20px; /* Espaçamento entre os cards */
    padding: 20px; /* Espaçamento interno do container */
}

.card {
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
  list-style: none;
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-5px); /* Eleva o card ao passar o mouse */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Aumenta a sombra ao passar o mouse */
}

.cards-destaque {
    display: flex; /* Usa flexbox para layout */
    gap: 20px; /* Espaçamento entre os cards */
    overflow-x: auto; /* Permite rolar horizontalmente se necessário */
    padding: 20px; /* Espaçamento interno do container */
}

.card-destaque {
    flex: 1 1 calc(33.333% - 20px); /* Cada card ocupa um terço do espaço menos o espaçamento */
    border: 1px solid #ddd; /* Borda leve para os cards */
    border-radius: 8px; /* Bordas arredondadas */
    padding: 15px; /* Espaçamento interno dos cards */
    background: #fff; /* Fundo branco para os cards */
    color: black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra leve para destacar os cards */
    transition: transform 0.3s, box-shadow 0.3s; /* Transição suave para efeitos */
}

.card-destaque:hover {
    transform: translateY(-5px); /* Eleva o card ao passar o mouse */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Aumenta a sombra ao passar o mouse */
}

footer {
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

a.pure-menu-link:hover{
background-color: #feb47b;
}

span.pure-menu-link:hover{
background-color: transparent;
}

p.error{
  color: red;
}