@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
  max-height: 100vh;
  text-decoration: none;
}

header .pure-menu,
footer .footer-content {
  max-width: 1200px;
  margin: auto;
}

header,
footer {
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  color: white;
  text-align: center;
  padding: 1em 0;
}

header nav ul li {
  display: flex;
  margin-right: 1rem;
}

header span {
  color: black;
  font-weight: 900;
}

.content {
  max-width: 1200px;
}

main {
  background: linear-gradient(
    to bottom right,
    #ff7e5f,
    #feb47b
  ); 
  color: #fff; 
  padding: 20px;
  min-height: 81.5vh; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: white;
  color: black;
  border-radius: 10px;
  padding: 40px;
}

.container-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.card {
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
  list-style: none;
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cards-destaque {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding: 20px;
}

.card-destaque {
    flex: 1 1 calc(33.333% - 20px);
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    background: #fff;
    color: black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.card-destaque:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

footer {
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

a.pure-menu-link:hover {
  background-color: #feb47b;
}

span.pure-menu-link:hover {
  background-color: transparent;
}

p.error {
  color: red;
}
